.foldername {
  padding: 6px 40px;
  border-radius: 10px;
  color: rgb(221, 44, 44);
}

.fileContainer {
  padding: 10px 20px;
  border-radius: 10px;
}

.icon {
  margin-right: 14px;
}

.fileElem {
  padding-top: 10px;
  border-top: 1px solid rgb(58, 58, 58);
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.content {
  border-radius: 10px;
  border: 1px solid black;
  width: 75%;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

.title {
  padding: 20px 13%;
}

.folder {
  display: flex;
  flex-direction: row;
}

.fileBtn {
  border: none;
  font-size: large;
  background-color: white;
}

.elementRepo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.language {
  margin-left: 75%;
  font-size: 20px;
  color: rgb(37, 10, 37);
  margin-bottom: 13px;
}

.language i {
  color: rgb(59, 189, 42);
}
